@import './variableColor';
@import './mixins';
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: $buttonBg;
  transition: all 100ms ease-in-out;

  &:hover {
    background: transparent;
    cursor: pointer;
    color: $orange;
    @include border(2px, $orange);
  }
}
::-webkit-scrollbar {
  display: none;
}
